@tailwind base;
@tailwind components;
@tailwind utilities;

/* TEXT */
h3 {
  @apply text-xl font-semibold;
}

/* INPUT */
input {
  @apply w-full;
  background-color: transparent;
  outline: none;
}

.inputDataPet:focus-within {
  @apply border-blue-400 shadow-sm shadow-blue-200;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
